@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');

body {
  font-family: 'Titillium Web', sans-serif;
  background-color: #171717;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow-y: scroll;
  .image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    width: 100%;
    @media (min-width: 768px) {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    
  }
  
  @media (max-width: 767px) {
      grid-template-columns: repeat(3, 1fr);
    
  }
  }

  .error-message {
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
    width: 100vw;
    height: 100vh;
  }
  
  
}
/* width */
::-webkit-scrollbar {
  width: 0px;
}


  


