.image-card {
  padding: 5px;
  padding-bottom: 20px;
  img {
    width: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
  }
  .image-name {
    margin: 0;
    padding: 5px 0px 10px 0px;
    color: rgba(255, 255, 255, 1);
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.1rem;
    text-overflow: ellipsis;
    @media (max-width: 767px) {
      max-width: 10ch;
    }
  }
  .image-name:hover {
    overflow: visible;
    white-space: normal;
  }
}

.skeleton-loader {
  width: 100%;
  height: 200px;
  background-color: #e2e5e7;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
  background-size: 40px 100%;
  background-repeat: no-repeat;
  background-position: left -40px top 0;
  animation: shine 1s ease infinite;
}

@keyframes shine {
  to {
    background-position: right -40px top 0;
  }
}
